{% extends 'base.html' %} {% block content %}

<div class="content-section">
    <div class="media">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s2">

                    <!-- Profile image - with the circle class -->
                    <img src="http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg" alt="" class="circle responsive-img">
                </div>
                <div class="col s10">
                    <ul>
                        <li>
                            <h2> Hello, <span>{{user.username}}</span> </h2>
                        </li>
                        <li><b>Location: </b> <span>{{ profile.id }}</span></li>
                        <li><b>Edit Profile </b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- List of saved activites  -->
<div class="row">
    <div class="col s12">
        <div class="col s6">
            <div class="card-panel">
                <h4>ACTIVITES<span>  <input style="float: right;" type="submit" class="btn blue lighten-1 modal-trigger" value="+" data-target="modal1" /></span></h4>

                <table class="centered test1" class="responsive-table">
                    <tr>

                        <th>Activity</th>
                        <th>Risk Level</th>
                        <th>Action</th>
                    </tr>

                    {% for activity in profile.activity_set.all %}
                    <tr>
                        <td>{{activity.name}}</td>
                        <td>
                            <div class="riskcontainer"> 
                                <div class="test riskcontainer2"> {{activity.risk_level}}</div>
                            </div>
                        </td>
                        <td>
                            <a href="{% url 'detail' activity.id %}"><i class="material-icons">visibility</i></a> <a href="{% url 'activity_delete' activity.id %}"><i class="material-icons">delete</i></a> </td>

                    </tr>

                    {% endfor %}
                </table>

                <!--   Modal pop up to so you can ADD AN ACTIVITY -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Add Activity: </h4>
                            <a style="float: right;" href="#!" class="modal-close waves-effect waves-green btn-flat">X</a></h4>
                                <form action="{% url 'activity_create' profile.id %}" method="post">
                                    {% csrf_token %}
                                    {{ activity_form.as_p }}
                                    <input type="submit" class="btn" value="Add Activity">
                                </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>

        </div>


<div class="col s6">
        <!-- Form to add users activities to a routine -->
    <form class="col s12" method="post" action="{% url 'routine_create' %}">
    {% csrf_token %} 
      <div class="input-field">
      <select multiple name="activity">
      <option disabled="" selected="">SELECT ACTIVITY</option>
                {% for u in user_activities %} 
                {% comment %} routine needs to be local to profile {% endcomment %}
                <option title="{{u.title}}" value="{{u.title}}" name="activity"
                  >{{u.title}}</option
                >
                {% endfor %}
              </select>
        <input type="date" name="date">
        <input type="hidden" value="{{profile.id}}" name="profile">
            </div>
            <input
              type="submit"
              value="ADD TO ROUTINE"
              class="btn #66bb6a green lighten-1"
            />
            <!-- <input
            type="submit"
            value="Results"
            data-target="modal2"
            class="btn #66bb6a green lighten-1 modal-trigger"
          />  -->
          </form>
      </div>

        <!-- List of Saved Routines -->
        <div class="col s6">
            <div class="card-panel">
                <h4>ROUTINES</h4>
                <table class="centered" class="responsive-table">
                    <tr>
                        <th>Date</th>
                        <th>Activity</th>
                    </tr>
                    {% for r in routine %}
                    <tr>
                        <td>{{r.activity}}</td>
                        <td>{{r.date}}</td>
                        <td>
                            <form action="/routine/delete/{{r.id}}" method="POST" >{% csrf_token %} 
                
                                <a href='#' onclick='this.parentNode.submit(); return false;'><i class="material-icons">delete</i></a>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% for routine in user.routine_set.all %}
                    <tr>
                        <td>{{routine.activity}}</td>
                        <td>Risk level 1</td>
                        <td>
                            <a href="#modal2" data-target="modal2" data-toggle="modal"><i class="material-icons">visibility</i></a> <a href="{% url 'activity_delete' activity.id %}"><i class="material-icons">delete</i></a>
                        </td>

                    </tr>

                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    .riskcontainer {
        width: 100%;
        background-color: #ddd;
    }
    
    .riskcontainer2 {
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
    }
    
    .lowrisk {
        width: 33%;
        background-color: #4CAF50;
    }
    
    .mediumrisk {
        width: 66%;
        background-color: rgb(235, 212, 11);
    }
    
    .highrisk {
        width: 90%;
        background-color: red;
    }
</style>
<script>

$(document).ready(function () {
    $("select").formSelect();
  });

    $(document).ready(function() {
        $(".modal").modal();
        var selectEl = document.getElementById('id_venue');
        M.FormSelect.init(selectEl);
        var selectEl2 = document.getElementById('id_interaction');
        M.FormSelect.init(selectEl2);

        var selectEl3 = document.getElementById('id_time_length');
        M.FormSelect.init(selectEl3);
        var selectEl4 = document.getElementById('id_distancing');
        M.FormSelect.init(selectEl4);

        function myFunc() {
          var tablelength =  $(".test1 > tbody > tr").length
            
            for (let i = 1; i < tablelength; i++) {
            let y = document.querySelector(".test").innerText
            y = parseInt(y.replace(/\D/g, ''));
                if (y <= 3) {
                    console.log(y + "low risk")
                    console.log("hi")
                    document.querySelector(".test").classList.add("lowrisk");
                     document.querySelector(".test").classList.remove("test");
                     
                } else if (y <=  6) {
                     console.log(y + "mid risk")
                    document.querySelector(".test").classList.add("mediumrisk");
                     document.querySelector(".test").classList.remove("test");
                     
                } else  {
                            console.log(y + "high risk")
                    document.querySelector(".test").classList.add("highrisk");
                     document.querySelector(".test").classList.remove("test");
                   
                }
            }
        }
        
myFunc()


    });
</script>
{% endblock %}