{% extends 'base.html' %} {% block content %}

<section class="forms">
  <h4>Sign Up</h4>

  {% if error_message %}
  <p class="red-text">{{ error_message }}</p>
  {% endif %}

  <form class="signup" method="post" action="{% url 'signup' %}">
    {% csrf_token %} {{ form.as_p }}
    <div class="center">
    <input type="submit" class="btn blue" value="signup" />
    </div>
  </form>
</section>
<div class="center">
    <small>
      Already Have An Account?
      <a class="ml-2" href="{% url 'login' %}">Login</a>
    </small>
  </div>
{% endblock %}
