{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <h5 class="center">GLOBAL STATS</h5>
    <p class="center"></p>
    <div class="col s4">
      {% comment %} <a
        href
        class="tooltipped"
        data-position="bottom"
        data-tooltip="+{{global_stats.NewConfirmed}}"
        > {% endcomment %}
        <div class="card-panel red lighten-1">
          <span class="white-text">{{global_stats.total_infected}}</span>
        </div></a>

      <p class="data-label">TOTAL CASES</p>
    </div>
    <div class="col s4">
      {% comment %} <a
        href
        class="tooltipped"
        data-position="right"
        data-tooltip="+{{global_stats.NewDeaths}}"
        > {% endcomment %}
        <div class="card-panel red lighten-1">
          <span class="white-text center">{{global_stats.total_deaths}}</span>
        </div></a
      >
      <p class="data-label">TOTAL DEATHS</p>
    </div>
    <div class="col s4">
      {% comment %} <a
        href
        class="tooltipped"
        data-position="bottom"
        data-tooltip="+{{global_stats.NewRecovered}}"
      > {% endcomment %}
        <div class="card-panel red lighten-1">
          <span class="white-text">{{global_stats.total_recovered}}</span>
        </div></a
      >
      <p class="data-label">TOTAL RECOVERED</p>
    </div>
  </div>

<div class="container">
  <div class="row">
    <h5 class="center">{{location.upper}}</h5>
    <p class="center">UPDATED: {{last_updated}}</p>
    <div class="col s4">
      {% comment %}
      <a
        href
        class="tooltipped"
        data-position="bottom"
        data-tooltip="+{{user_country.NewConfirmed}}"
      >
        {% endcomment %}
        <div class="card-panel red lighten-1">
          <span class="white-text">{{user_country_with_NA.Infected}}</span>
        </div></a
      >

      <p class="data-label">TOTAL CASES</p>
    </div>
    <div class="col s4">
      {% comment %}
      <a
        href
        class="tooltipped"
        data-position="right"
        data-tooltip="+{{user_country.NewDeaths}}"
      >
        {% endcomment %}
        <div class="card-panel red lighten-1">
          <span class="white-text center"
            >{{user_country_with_NA.TotalDeaths}}</span
          >
        </div></a
      >
      <p class="data-label">TOTAL DEATHS</p>
    </div>
    <div class="col s4">
      {% comment %}
      <a
        href
        class="tooltipped"
        data-position="bottom"
        data-tooltip="+{{user_country.NewRecovered}}"
      >
        {% endcomment %}
        <div class="card-panel red lighten-1">
          <span class="white-text"
            >{{user_country_with_NA.TotalRecovered}}</span
          >
        </div></a
      >
      <p class="data-label">TOTAL RECOVERED</p>
    </div>
  </div>

  <div class="container center">
    <div class="row">
      <div
        class="col 12"
        style="position: relative; height: 100%; width: 100%;"
      >
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>

  <div class="container center">
    <div class="row">
      <h5 class="center">MY STUFF</h5>

      <div class="col s6">
        <h6>My Activities</h6>
        <table class="striped">
          <tbody>
            {% if user_activities %} {% for u in user_activities %}
            <tr>
              <td>{{u}}</td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td class="center">You Have No Activities!</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>

      <div class="col s6">
        <h6>Today</h6>
        <table class="striped">
          <tbody>
            <tr>
              <th class="center">{{current_date}}</th>
            </tr>
            {% if today_routine %} {% for activity in today_routine%}
            <tr>
              <td>{{activity.0}}</td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td class="center">Your Day is Empty!</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
      $("select").formSelect();
    });
    $(document).ready(function () {
      $(".tooltipped").tooltip();
    });
    $(document).ready(function () {
      $(".modal").modal();
    });



  var ctx = document.getElementById('myChart').getContext('2d');

  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Confirmed", "Deaths", "Recovered"],
        datasets: [
          {
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: [{{user_country.1}},{{user_country.3}},{{user_country.2}}]
          }
        ]
      },
      options: {
        legend: { display: false },
      }
  });
</script>

{% endblock %}
