{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <h5 class="center">{{location.upper}} STATS</h5>
    <p class="center">LAST UPDATED: {{user_country.Updated}}</p>
    <div class="col s4">
      <a
        href
        class="tooltipped"
        data-position="bottom"
        data-tooltip="+{{user_country.NewConfirmed}}"
        ><div class="card-panel red lighten-1">
          <span class="white-text">{{user_country.TotalConfirmed}}</span>
        </div></a
      >

      <p class="data-label">TOTAL CASES</p>
    </div>
    <div class="col s4">
      <a
        href
        class="tooltipped"
        data-position="right"
        data-tooltip="+{{user_country.NewDeaths}}"
        ><div class="card-panel red lighten-1">
          <span class="white-text center">{{user_country.TotalDeaths}}</span>
        </div></a
      >
      <p class="data-label">TOTAL DEATHS</p>
    </div>
    <div class="col s4">
      <a
        href
        class="tooltipped"
        data-position="bottom"
        data-tooltip="+{{user_country.NewRecovered}}"
      >
        <div class="card-panel red lighten-1">
          <span class="white-text">{{user_country.TotalRecovered}}</span>
        </div></a
      >
      <p class="data-label">TOTAL RECOVERED</p>
    </div>
  </div>

  <div class="container center">
    <div class="row">
      <h5 class="center">How Risky Are You?</h5>
<div class="col s6">
  
  <h6>My Activities</h6>

  
  <form class="col s12" method="post" action="{% url 'dashboard' %}">{% csrf_token %} 
        <div class="input-field">
          <select multiple name="activity">
            <!-- Add for loop an generate a value for each activity we have when we have data make sure to add the id of the curent activity to the value too-->
            <option disabled="" selected="">SELECT ACTIVITY</option>
            {% for a in activities %}
            <option title="{{a.activity}} value="{{a.activity}}"
              >{{a.activity}}</option
            >
            {% endfor %}
          </select>
        </div>
        <input
          type="submit"
          value="Calculate"
          class="btn #66bb6a green lighten-1"
        />
        <input
        type="submit"
        value="Results"
        data-target="modal2"
        class="btn #66bb6a green lighten-1 modal-trigger"
      /> 
      </form></div>

<div class="col s6"><h6>My Routine</h6>
{{current_date}}
  <table class="striped">
    <tbody>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

      <div id="modal2" class="modal">
        <div class="modal-content">
          <!-- show different headings depending on risk factor -->
          {% if activity.0.factor <= 4 %}
          <h4>YOU'RE NOT THAT RISKY</h4>
          {% elif activity.0.factor <= 6 and  activity.0.factor > 4 %}
          <h4>YOU'RE A LITTLE RISKY</h4>
          {% elif activity.0.factor <= 10 and activity.0.factor > 6 %}
          <h4>YOU'RE VERY RISKY</h4>
          {% endif %}
          {% if selected_activities %}
          {% for a in selected_activities %}
          <p><b>{{a}}</b>&nbsphas a <b>{{activity.0.risk}}</b> risk level</p>
          <!-- Take factors for all activities and find an average, if the number is a certain number assign it a risk level -->
          {% endfor %}
          {% else %}
          <p>No activity selected</p>
          {%endif%} 
          <p>Your overall risk level is</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat" 
            >OK</a
          > 
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("select").formSelect();
  });
  $(document).ready(function () {
    $(".tooltipped").tooltip();
  });
  $(document).ready(function () {
    $(".modal").modal();
  });
</script>

{% endblock %}