{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col s12">

        <div class="card-panel">
            <table class="centered">
                <h2>Activity: {{activity.name}}</h2>
                <tr>

                    <th>Number of People</th>   
                    <td>{{activity.number_of_people}}</td>
                </tr>
                <tr>
                    <th>Distancing</th>
                    <td>{{activity.get_distancing_display}}</td>
                </tr>
                <tr>
                    <th>Venue</th>
                    <td>{{activity.get_venue_display}}</td>
                </tr>
                 <tr>
                    <th>Time </th>
                    <td>{{activity.get_time_length_display}}</td>
                 </tr>
                  <tr>
                    <th>Interaction</th> 
                    <td>{{activity.get_interaction_display}}</td>
                 </tr>
                  <tr>
                    <th>Risk Level</th>
                    <td>{{activity.risk_level}}</td>
                 </tr>
            </table>

        </div>

    </div>
</div>
<div class="row">
    <div class="col s12">

        <div class="card-panel">
            <h2> Recommendations:</h2>
            {% if activity.risk_level == 0 %}
            <p> Wear a Mask</p>

            {% elif activity.risk_level == 1 %}
            <p> Wear body armour</p>

            {% elif activity.risk_level == 2 %}
            <p> Wear body armour</p>

            {% elif activity.risk_level == 3 %}
            <p> Wear body armour</p>

            {% elif activity.risk_level == 4 %}
            <p> Wear body armour</p>

            {% elif activity.risk_level == 5 %}
            <p> Wear body armour</p>

            {% elif activity.risk_level == 6 %}
            <p> Wear body armour</p>

            {% elif activity.risk_level == 7 %}
            <p> Wear body armour</p>

            {% elif activity.risk_level == 8 %}
            <p> Wear body armour</p>

            {% elif activity.risk_level == 9 %}
            <p> Wear body armour</p>

            {% elif activity.risk_level == 10 %}
            <p> Wear body armour</p>

            {% else %}

            <p> No Recommendations at this time </p>
            {% endif %}

        
            <li>{{r}}</li>

        </div>

    </div>
</div>
{% endblock %}